<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adgamus</title>
    <link rel="shortcut icon" href="/public/IMG/AdgamusLogo1.png"/>

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <!-- fontawesome SCRIPT Link -->
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <!-- Fontawesome CSS Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
   <!-- SweetAlert2 CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" async></script>
    <!-- Package public -->
    <link rel="stylesheet" type="text/css" href="/public/CSS/EstiloCSS.css">
    <link rel="stylesheet" type="text/css" href="/public/CSS/FondoCSS.css">
    <!-- Handlebars.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
 
  </head>
  <body class="bg-gray-200">
  <header>
 
      <div class="container__menu">                
       <div class="menu">
        
        {{#if name}}
            {{#if admin}}
                <nav class="navigation">
                    <input type="checkbox" id="check__menu">
                    <label for="check__menu" id="label__check">
                            <i class="fas fa-bars icon__menu"><a href="#"></a></i>
                    </label>
                    <ul>
                                <li><a href="/" id="selected"></a></li>
                                <li><a href="#">Gestión</a>
                                    <ul>
                                        <li><a href="/CRUDplantas">Plantas</a></li>
                                        <li><a href="#">Animales</a></li>
                                        <li><a href="#">Recusros</a></li>
                                    </ul>
                                </li>
                                <li><a href="CuidadoCultivos.html">Usuarios</a></li>
                                <li><a href="/SeleccionArtificial">Publicaciones</a></li>
                                <li><a href="/ajustes">Ajustes </a></li>

                                <li class="nav-item px-4">
                                    <a href="Perfil.html" class="nav-link-name">
                                    {{name}}
                                    </a>
                                </li>
                                <li class="nav-item px-4"> 
                                    <a href="/logout" class="nav-link-logout">Cerrar Sesión</a>
                                </li>
                    </ul>
                </nav>
            {{else}}
                <nav class="navigation">
                    <input type="checkbox" id="check__menu">
                    <label for="check__menu" id="label__check">
                            <i class="fas fa-bars icon__menu"></i>
                    </label>
                    <ul>
                                <li><a href="/" id="selected"></a></li>
                                <li><a href="#">Otras opciones</a>
                                    <ul>
                                        <li><a href="/ajustes">Ajustes</a></li>
                                        <li><a href="#">Red</a></li>
                                        <li><a href="#">Mensajes</a></li>
                                        <li><a href="#">Políticas de uso</a></li>
                                    </ul>
                                </li>
                                <li><a href="/CuidadoDeCultivos">Cuidado de cultivos</a></li>
                                <li><a href="/SeleccionArtificial">Seleccion artificial</a></li>
                                <li><a href="Recursos.html">Recursos</a></li>

                                <li class="nav-item px-4">
                                    <a href="Perfil.html" class="nav-link-name">
                                    {{name}}
                                    </a>
                                </li>
                                <li class="nav-item px-4"> 
                                    <a href="/logout" class="nav-link-logout">Cerrar Sesión</a>
                                </li>
                    </ul>
                </nav>
            {{/if}}
        {{else}}
        <nav class="navigation">
             <nav class="navigation">
                    <input type="checkbox" id="check__menu">
                    <label for="check__menu" id="label__check">
                        <i class="fas fa-bars icon__menu"></i>
                    </label>
                        <ul>
                            <li><a href="#" id="selected"></a></li>
                            <li>
                                <a href="/login" class="nav-link-login ">Iniciar Sesión</a>
                            </li>
                            <li> 
                                <a href="/register" class="nav-link-register  ">Registrarse</a>
                            </li>
                        </ul>
                </nav>

        {{/if}}
        </div>
     </div>

</header>
  
 <main class="main">
  {{{body}}}
</main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>
