<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adgamus</title>
    <link rel="shortcut icon" href="/Adgamus/public/IMG/AdgamusLogo1.png"/>

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">
    <!-- fontawesome SCRIPT Link -->
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <!-- Fontawesome CSS Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
   <!-- SweetAlert2 CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <!-- SweetAlert2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10" async></script>
    <!-- Package public -->
    <link rel="stylesheet" type="text/css" href="/Adgamus/public/CSS/EstiloCSS.css">
    <link rel="stylesheet" type="text/css" href="/Adgamus/public/CSS/FondoCSS.css">
    <!-- Handlebars.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
 
  </head>
  <body class="bg-gray-200">
  <header>
 
      <div class="container__menu">                
       <div class="menu">
        
        {{#if name}}
            {{#if admin}}
                <nav class="navigation">
                    <input type="checkbox" id="check__menu">
                    <label for="check__menu" id="label__check">
                            <i class="fas fa-bars icon__menu"><a href="#"></a></i>
                    </label>
                    <ul>
                                <li><a href="/Adgamus/" id="selected"></a></li>
                                <li><a href="#">Gestión</a>
                                    <ul>
                                        <li><a href="/Adgamus/CRUDplantas">Plantas</a></li>
                                        <li><a href="#">Animales</a></li>
                                        <li><a href="#">Recusros</a></li>
                                        <li><a href="#">Usuarios</a></li>
                                        <li><a href="#">Publicaciones</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Adgamus/ChatDeAyuda">Atender Cliente</a></li>
                                <li><a href="/Adgamus/SeleccionArtificial">Opción</a></li>
                                <li><a href="/Adgamus/ajustes">Ajustes </a></li>

                                <li class="nav-item px-4">
                                    <a href="/Adgamus/Perfil" class="nav-link-name">
                                    {{name}}
                                    </a>
                                </li>
                                <li class="nav-item px-4"> 
                                    <a href="/Adgamus/logout" class="nav-link-logout">Cerrar Sesión</a>
                                </li>
                    </ul>
                </nav>
            {{else}}
                <nav class="navigation">
                    <input type="checkbox" id="check__menu">
                    <label for="check__menu" id="label__check">
                            <i class="fas fa-bars icon__menu"></i>
                    </label>
                    <ul>
                                <li><a href="/Adgamus/" id="selected"></a></li>
                                <li><a href="#">Otras opciones</a>
                                    <ul>
                                        <li><a href="/Adgamus/ajustes">Ajustes</a></li>
                                        <li><a href="#">Red</a></li>
                                        <li><a href="#">Mensajes</a></li>
                                        <li><a href="#">Políticas de uso</a></li>
                                    </ul>
                                </li>
                                <li><a href="/Adgamus/CuidadoDeCultivos">Cuidado de cultivos</a></li>
                                <li><a href="/Adgamus/SeleccionArtificial">Seleccion artificial</a></li>
                                <li><a href="/Adgamus/Recursos">Recursos</a></li>

                                <li class="nav-item px-4">
                                    <a href="/Adgamus/Perfil" class="nav-link-name">
                                    {{name}}
                                    </a>
                                </li>
                                <li class="nav-item px-4"> 
                                    <a href="/Adgamus/logout" class="nav-link-logout">Cerrar Sesión</a>
                                </li>
                    </ul>
                </nav>
            {{/if}}
        {{else}}
        <nav class="navigation">
             <nav class="navigation">
                    <input type="checkbox" id="check__menu">
                    <label for="check__menu" id="label__check">
                        <i class="fas fa-bars icon__menu"></i>
                    </label>
                        <ul>
                            <li><a href="#" id="selected"></a></li>
                            <li>
                                <a href="/Adgamus/login" class="nav-link-login ">Iniciar Sesión</a>
                            </li>
                            <li> 
                                <a href="/Adgamus/register" class="nav-link-register  ">Registrarse</a>
                            </li>
                        </ul>
                </nav>

        {{/if}}
        </div>
     </div>

</header>
  
 <main class="main">
  {{{body}}}
</main>

{{#if name}}

<div class="b-example-divider"></div>

<div class="container-fluid bg-light">
    <footer class="py-5">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>SOPORTE</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="/Adgamus/ChatDeAyuda" class="nav-link p-0 text-muted">Chat de ayuda</a></li>
                    {{!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li> --}}
                </ul>  
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Adgamus</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    {{!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li> --}}
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>GUIMO</h5>
                <ul class="nav flex-column">
                    {{!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li> --}}
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                {{!-- <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form> --}}
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p> ©2023 Adgamus / Todos los derechos reservados</p>
            <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a width="24" height="24" href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li class="ms-3"> <a width="24" height="24" href="https://instagram.com/g.u.i.m.o?igshid=bzN4anJoZmpubmZv"><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="ms-3"><a  width="24" height="24" href="#"><i class="fa-solid fa-envelope"></i></a></li>
            </ul>
        </div>
    </footer>
</div>
{{/if}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


  </body>
</html>
